.main {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}
@media (min-width: 768px) {
    .main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1080px) {
    .main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 350px;
}

.boxImg {
    position: relative;
    min-width: 120px;
    max-width: 120px;
    height: 120px;
    border-radius: 6px;
    overflow: hidden;
}

.boxImg::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.05);
    border-radius: 8px;
}

img {
    width: 100%;
}

.boxInfo {
    padding-left: 20px;
    width: 100%;
    overflow: hidden;
}

.favoriteBox {
    margin-top: 15px;
    letter-spacing: -.35px;
}

.likes {
    display: inline-block;
    color: #767676;
    font-family: Roboto;
    font-size: .813rem;
    font-weight: 500;
    line-height: 13px;
    vertical-align: top;
    margin-right: 24px;
}

.comments {
    display: inline-block!important;
    color: #767676;
    font-family: Roboto;
    font-size: .813rem;
    font-weight: 500;
    line-height: 13px;
    vertical-align: top;
}

.price {
    font-size: 1.125rem;
    font-weight: 600;
    margin-right: 4px;
}