
.Navbar {
    max-width: 500px;
    padding-top: 48px;
    background-color: #fff;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    list-style: none;
}

.subMenu {
    width:100% auto;
    color: #767676;
    padding: 15px 10px;
    cursor: pointer;
    text-align: center;
}

.selected {
    color: black;
    border-bottom: 3px solid black;
}
